{% extends "base.html" %} {%block title %}<title>Каталог</title>{%endblock%}
{%block content%}
<h1>Каталог</h1>
<form method="GET" action="{% url 'search_toys' %}">
    <input
        type="text"
        name="search_query"
        placeholder="Поиск по имени игрушки"
    />
    <button type="submit">Найти</button>
</form>
<br />
<a href="/sortbypriceasc"><button>Отсортировать по цене (↑)</button></a>
<a href="/sortbypricedesc"><button>Отсортировать по цене(↓)</button></a>
<a href="/sortbycategory"><button>Отсортировать по категории</button></a>
<ul>
    {% for toy in toy_list %}
    <li>
        <h2>{{ toy.name }}</h2>
        <p>Тип: {{ toy.type }}</p>
        <p>Модель: {{ toy.modals }}</p>
        <p>
            В производстве: {%if toy.is_manufactured %}Да{%else%} Нет {%endif%}
        </p>
        <h3>{{ toy.price }} руб.</h3>
        {%if toy.is_manufactured and user.is_customer%}
        <a href="buy/{{ toy.id }}"><button>Купить</button></a>
        {%endif%}
    </li>
    {% endfor %}
</ul>
{%endblock%}
