{% extends "base.html" %} {%block title %}<title>Изменить покупателя</title
>{%endblock%} {%block content%}
<h2>Customer Edit</h2>
<p>{{customer}}</p>
{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}
<form method="post" action="{% url 'customer_edit' %}">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input
        type="text"
        id="username"
        name="username"
        value="{{customer.customer.username}}"
        required
    /><br /><br />
    <label for="password">Password:</label>
    <input
        type="text"
        id="password"
        name="password"
        value="{{customer.customer.password}}"
        required
    /><br /><br />
    <label for="name">Name:</label>
    <input
        type="text"
        id="name"
        name="name"
        value="{{customer.name}}"
        required
    /><br /><br />
    <label for="phonenumber">Phonenumber:</label>
    <input
        type="text"
        id="phonenumber"
        name="phonenumber"
        pattern="^\+375 \(\d{2}\) \d{3}-\d{2}-\d{2}$"
        value="{{customer.phonenumber}}"
        required
    /><br /><br />
    <label for="city">City:</label>
    <input
        type="text"
        id="city"
        name="city"
        value="{{customer.phonenumber}}"
        required
    /><br /><br />
    <label for="city">Address:</label>
    <input type="textarea" id="address" name="address" required /><br /><br />
    <input type="submit" value="Login" />
</form>
{%endblock%}
